<?xml version="1.0" encoding="UTF-8"?>
<FIXML xsi:schemaLocation="http://www.finacle.com/fixml executeFinacleScript.xsd" xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<Header>
<ResponseHeader>
<RequestMessageKey>
<RequestUUID>Req_1361855819377</RequestUUID>
<ServiceRequestId>executeFinacleScript</ServiceRequestId>
<ServiceRequestVersion>10.2</ServiceRequestVersion>
<ChannelId>COR</ChannelId>
</RequestMessageKey>
<ResponseMessageInfo>
<BankId>01</BankId>
<TimeZone></TimeZone>
<MessageDateTime>2013-02-26T07:17:32.384</MessageDateTime>
</ResponseMessageInfo><UBUSTransaction>
<Id/>
<Status/>
</UBUSTransaction>
<HostTransaction>
<Id/>
<Status>SUCCESS</Status>
</HostTransaction>
<HostParentTransaction>
<Id/>
<Status/>
</HostParentTransaction>
<CustomInfo/>
</ResponseHeader>
</Header>

<Body>
<executeFinacleScriptResponse>
  <ExecuteFinacleScriptOutputVO></ExecuteFinacleScriptOutputVO>
  <executeFinacleScript_CustomData>
    <STATUS>SUCCESS</STATUS>
    <MESSAGE>20 Cheques issued successfully to Account PRATUS with cheque starting with 000001</MESSAGE>
  </executeFinacleScript_CustomData>
</executeFinacleScriptResponse>
</Body>

</FIXML>