<FIXML><Body><CustomerDetailsAggregate>
<Error xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<FIBusinessException>
<ErrorDetail>
<ErrorCode>55007</ErrorCode>
<ErrorDesc>Invalid CIFID</ErrorDesc>
<ErrorType>BE</ErrorType>
</ErrorDetail>
</FIBusinessException>
</Error>
 
<RetCustAcctInqResponse xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<RetCustAcctInqRs>
<RetCustDtlsInfo>
<FirstName/>
<LastName/>
<IsSwiftCodeOfBank/>
<HouseholdFlag/>
<HouseholdName/>
<GroupId/>
<DefaultAddrType/>
<CustTypeCode/>
<IsCorpRepresentative/>
<CustSwiftCode/>
<NativeLanguageCode/>
<NativeLanguage/>
<OccupationCode/>
<SalutationCode/>
<Sector/>
<SectorCode/>
<StatusCode/>
<SubSector/>
<SubSectorCode/>
<SubSegment/>
<TDSCustId/>
<TDSTable/>
</RetCustDtlsInfo>
<Service/>
<Status/>
</RetCustAcctInqRs>
<RetCustAcctInq_CustomData/>
</RetCustAcctInqResponse>
</CustomerDetailsAggregate></Body></FIXML>
