<?xml version="1.0" encoding="UTF-8"?>
<FIXML>
<Body>
  <Error>
    <FIBusinessException>
      <ErrorDetail>
        <ErrorCode>CAMEL101</ErrorCode>
        <ErrorDesc>Error processing the request.</ErrorDesc>
        <ErrorSource>API Services Layer</ErrorSource>
        <ErrorType>Parameter Error</ErrorType>
      </ErrorDetail>
    </FIBusinessException>
  </Error>
</Body>
</FIXML>
