<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml getLastNTransactionsWithPagination.xsd">
    <Header>
        <ResponseHeader>
            <RequestMessageKey>
                <RequestUUID>Req_1381166044837</RequestUUID>
                <ServiceRequestId>getLastNTransactionsWithPagination</ServiceRequestId>
                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                <ChannelId>COR</ChannelId>
            </RequestMessageKey>
            <ResponseMessageInfo>
                <BankId>01</BankId>
                <TimeZone/>
                <MessageDateTime>2013-10-07T17:11:16.833</MessageDateTime>
            </ResponseMessageInfo>
            <UBUSTransaction>
                <Id/>
                <Status/>
            </UBUSTransaction>
            <HostTransaction>
                <Id/>
                <Status>SUCCESS</Status>
            </HostTransaction>
            <HostParentTransaction>
                <Id/>
                <Status/>
            </HostParentTransaction>
            <CustomInfo/>
        </ResponseHeader>
    </Header>
    <Body>
        <getLastNTransactionsWithPaginationResponse>
            <PaginatedAccountStatement>
                <accountBalances>
                    <acid>1000110010002216</acid>
                    <availableBalance>
                        <amountValue>71452.88</amountValue>
                        <currencyCode>INR</currencyCode>
                    </availableBalance>
                    <branchId>0001</branchId>
                    <currencyCode>INR</currencyCode>
                    <fFDBalance>
                        <amountValue>0.00</amountValue>
                        <currencyCode>INR</currencyCode>
                    </fFDBalance>
                    <floatingBalance>
                        <amountValue>0.00</amountValue>
                        <currencyCode>INR</currencyCode>
                    </floatingBalance>
                    <ledgerBalance>
                        <amountValue>71452.88</amountValue>
                        <currencyCode>INR</currencyCode>
                    </ledgerBalance>
                    <userDefinedBalance>
                        <amountValue>71452.88</amountValue>
                        <currencyCode>INR</currencyCode>
                    </userDefinedBalance>
                </accountBalances>
                <field125/>
                <field126/>
                <field127/>
                <hasMoreData>Y</hasMoreData>
                <transactionDetails>
                    <pstdDate>2013-09-12T18:48:32.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>5500.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-04-10T00:00:00.000</txnDate>
                        <txnDesc>IW CHQ RETURN/16073/PAYMENT STOPPED BY DRAWER     </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>71452.88</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>LI </txnCat>
                    <txnId>  S531564</txnId>
                    <txnSrlNo>   6</txnSrlNo>
                    <valueDate>2013-04-10T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-09-12T18:48:32.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>5500.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-04-10T00:00:00.000</txnDate>
                        <txnDesc>IW CLG/16073/IWAHMED2/SHREYA/MUMBAI SERVICE BRANCH</txnDesc>
                        <txnType>D</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>65952.88</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>LI </txnCat>
                    <txnId>  S531564</txnId>
                    <txnSrlNo>   5</txnSrlNo>
                    <valueDate>2013-04-10T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-09-12T17:31:39.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>100.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-04-10T00:00:00.000</txnDate>
                        <txnDesc>Stop Payment Charges                              </txnDesc>
                        <txnType>D</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>71452.88</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TSC</txnCat>
                    <txnId>  S531481</txnId>
                    <txnSrlNo>   4</txnSrlNo>
                    <valueDate>2013-04-10T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-09-12T17:31:39.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>12.36</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-04-10T00:00:00.000</txnDate>
                        <txnDesc>Service Tax, Edu Cess and Higher Edu Cess         </txnDesc>
                        <txnType>D</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>71552.88</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TSC</txnCat>
                    <txnId>  S531481</txnId>
                    <txnSrlNo>   2</txnSrlNo>
                    <valueDate>2013-04-10T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-07-10T19:30:11.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>2212.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-04-03T00:00:00.000</txnDate>
                        <txnDesc>IO For 1001114240000042                           </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>71565.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TBI</txnCat>
                    <txnId>  S294623</txnId>
                    <txnSrlNo>  34</txnSrlNo>
                    <valueDate>2013-03-31T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-07-10T19:30:11.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>2193.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-04-03T00:00:00.000</txnDate>
                        <txnDesc>IO For 1001114240000041                           </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>69353.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TBI</txnCat>
                    <txnId>  S294623</txnId>
                    <txnSrlNo>  33</txnSrlNo>
                    <valueDate>2013-03-31T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-07-10T19:30:11.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>3752.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-04-03T00:00:00.000</txnDate>
                        <txnDesc>IO For 1001114240000040                           </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>67160.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TBI</txnCat>
                    <txnId>  S294623</txnId>
                    <txnSrlNo>  32</txnSrlNo>
                    <valueDate>2013-03-31T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-02-11T12:14:18.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>1300.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-02-11T00:00:00.000</txnDate>
                        <txnDesc>CASHDEP/LAXMIPURI/                                </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>63408.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>CRI</txnCat>
                    <txnId>    M3460</txnId>
                    <txnSrlNo>   1</txnSrlNo>
                    <valueDate>2013-02-11T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-02-09T14:11:03.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>10000.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-02-09T00:00:00.000</txnDate>
                        <txnDesc>BY INST 436850 : KOLHAPUR OUTWARD CLRG            </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>62108.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>LO </txnCat>
                    <txnId>   S68756</txnId>
                    <txnSrlNo> 275</txnSrlNo>
                    <valueDate>2013-02-09T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-02-09T14:08:19.000</pstdDate>
                    <transactionSummary>
                        <instrumentId>           98009</instrumentId>
                        <txnAmt>
                            <amountValue>75000.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-02-09T00:00:00.000</txnDate>
                        <txnDesc>TR  TO FD                                         </txnDesc>
                        <txnType>D</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>52108.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TCI</txnCat>
                    <txnId>    M6964</txnId>
                    <txnSrlNo>   2</txnSrlNo>
                    <valueDate>2013-02-09T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-02-09T14:08:19.000</pstdDate>
                    <transactionSummary>
                        <instrumentId>           98008</instrumentId>
                        <txnAmt>
                            <amountValue>100000.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-02-09T00:00:00.000</txnDate>
                        <txnDesc>TR TO FD                                          </txnDesc>
                        <txnType>D</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>127108.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TCI</txnCat>
                    <txnId>    M6964</txnId>
                    <txnSrlNo>   1</txnSrlNo>
                    <valueDate>2013-02-09T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-02-09T14:07:14.000</pstdDate>
                    <transactionSummary>
                        <instrumentId>           98007</instrumentId>
                        <txnAmt>
                            <amountValue>200000.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-02-09T00:00:00.000</txnDate>
                        <txnDesc>TR TO FD                                          </txnDesc>
                        <txnType>D</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>227108.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TBI</txnCat>
                    <txnId>    M6824</txnId>
                    <txnSrlNo>   1</txnSrlNo>
                    <valueDate>2013-02-09T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-02-06T12:06:06.000</pstdDate>
                    <transactionSummary>
                        <instrumentId>           98005</instrumentId>
                        <txnAmt>
                            <amountValue>100000.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-02-06T00:00:00.000</txnDate>
                        <txnDesc>Y/S FOR FD                                        </txnDesc>
                        <txnType>D</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>427108.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TCI</txnCat>
                    <txnId>    M1475</txnId>
                    <txnSrlNo>   1</txnSrlNo>
                    <valueDate>2013-02-06T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-02-05T13:05:03.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>6000.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-02-05T00:00:00.000</txnDate>
                        <txnDesc>BY INST 53004 : SANGLI OUTWARD CLRG               </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>527108.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>LO </txnCat>
                    <txnId>  S986862</txnId>
                    <txnSrlNo>  22</txnSrlNo>
                    <valueDate>2013-02-05T00:00:00.000</valueDate>
                </transactionDetails>
                <transactionDetails>
                    <pstdDate>2013-01-29T04:24:14.000</pstdDate>
                    <transactionSummary>
                        <instrumentId/>
                        <txnAmt>
                            <amountValue>27327.00</amountValue>
                            <currencyCode>INR</currencyCode>
                        </txnAmt>
                        <txnDate>2013-01-29T00:00:00.000</txnDate>
                        <txnDesc>TO For 1000114310032127                           </txnDesc>
                        <txnType>C</txnType>
                    </transactionSummary>
                    <txnBalance>
                        <amountValue>521108.24</amountValue>
                        <currencyCode>INR</currencyCode>
                    </txnBalance>
                    <txnCat>TBI</txnCat>
                    <txnId>  S849354</txnId>
                    <txnSrlNo>   1</txnSrlNo>
                    <valueDate>2013-01-29T00:00:00.000</valueDate>
                </transactionDetails>
            </PaginatedAccountStatement>
            <getLastNTransactionsWithPagination_CustomData>
                <THB>49</THB>
            </getLastNTransactionsWithPagination_CustomData>
        </getLastNTransactionsWithPaginationResponse>
    </Body>
</FIXML>

