<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml LoanAcctInq.xsd">
    <Header>
        <ResponseHeader>
            <RequestMessageKey>
                <RequestUUID>Req_1384328260625</RequestUUID>
                <ServiceRequestId>LoanAcctInq</ServiceRequestId>
                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                <ChannelId>COR</ChannelId>
            </RequestMessageKey>
            <ResponseMessageInfo>
                <BankId>01</BankId>
                <TimeZone/>
                <MessageDateTime>2013-11-13T07:35:36.762</MessageDateTime>
            </ResponseMessageInfo>
            <UBUSTransaction>
                <Id/>
                <Status/>
            </UBUSTransaction>
            <HostTransaction>
                <Id/>
                <Status>SUCCESS</Status>
            </HostTransaction>
            <HostParentTransaction>
                <Id/>
                <Status/>
            </HostParentTransaction>
            <CustomInfo/>
        </ResponseHeader>
    </Header>
    <Body>
        <LoanAcctInqResponse>
            <LoanAcctInqRs>
                <LoanAcctId>
                    <AcctId>809000005518</AcctId>
                    <AcctType>
                        <SchmCode>HLGEN</SchmCode>
                        <SchmType>LAA</SchmType>
                    </AcctType>
                    <AcctCurr>INR</AcctCurr>
                    <BankInfo>
                        <BankId/>
                        <Name/>
                        <BranchId/>
                        <BranchName/>
                        <PostAddr>
                            <Addr1/>
                            <Addr2/>
                            <Addr3/>
                            <City/>
                            <StateProv/>
                            <PostalCode/>
                            <Country/>
                            <AddrType/>
                        </PostAddr>
                    </BankInfo>
                </LoanAcctId>
                <NetIntRate>
                    <value>11.0</value>
                </NetIntRate>
                <AcctOpenDt>2013-01-18T00:00:00.000</AcctOpenDt>
                <ModeOfOper>3</ModeOfOper>
                <CustId>
                    <CustId/>
                    <PersonName>
                        <LastName/>
                        <FirstName/>
                        <MiddleName/>
                        <Name/>
                        <TitlePrefix/>
                    </PersonName>
                </CustId>
                <LoanAcctGenInfo>
                    <GenLedgerSubHead>
                        <GenLedgerSubHeadCode>14208</GenLedgerSubHeadCode>
                        <CurCode>INR</CurCode>
                    </GenLedgerSubHead>
                    <AcctName>ANITA S KAMBALE</AcctName>
                    <AcctShortName>ANITAKAMBA</AcctShortName>
                    <AcctStmtMode>N</AcctStmtMode>
                    <AcctStmtFreq>
                        <Cal/>
                        <Type/>
                        <StartDt>0</StartDt>
                        <WeekDay>0</WeekDay>
                        <WeekNum/>
                        <HolStat/>
                    </AcctStmtFreq>
                    <DespatchMode/>
                </LoanAcctGenInfo>
                <AmtAlreadyDisb>
                    <amountValue>40000.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </AmtAlreadyDisb>
                <AmtAvailForDisb>
                    <amountValue>50000.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </AmtAvailForDisb>
                <DisbAmt>
                    <amountValue>0.00</amountValue>
                    <currencyCode/>
                </DisbAmt>
                <SrcDealerCode>
                    <DSAId/>
                    <DSAName/>
                </SrcDealerCode>
                <DisbDealerCode>
                    <DSAId/>
                    <DSAName/>
                </DisbDealerCode>
                <LoanGenDetails>
                    <LoanPeriodDays>0</LoanPeriodDays>
                    <LoanPeriodMonths>120</LoanPeriodMonths>
                    <RePmtMethod>M</RePmtMethod>
                    <OperAcctId>
                        <AcctId/>
                        <AcctType>
                            <SchmCode/>
                            <SchmType/>
                        </AcctType>
                        <AcctCurr/>
                        <BankInfo>
                            <BankId/>
                            <Name/>
                            <BranchId/>
                            <BranchName/>
                            <PostAddr>
                                <Addr1/>
                                <Addr2/>
                                <Addr3/>
                                <City/>
                                <StateProv/>
                                <PostalCode/>
                                <Country/>
                                <AddrType/>
                            </PostAddr>
                        </BankInfo>
                    </OperAcctId>
                    <ReschedParams>
                        <ReschedAdjTenorAmtFlg>P</ReschedAdjTenorAmtFlg>
                        <AutoReschedForEveryDisbFlg>Y</AutoReschedForEveryDisbFlg>
                        <AutoReschedForIntRateChange>B</AutoReschedForIntRateChange>
                        <ReschedAmtFlg>O</ReschedAmtFlg>
                        <AutoReschedPrepaymentFlg>N</AutoReschedPrepaymentFlg>
                    </ReschedParams>
                    <PmtPlan>
                        <HolidayPeriodDetails>
                            <HolidayPeriod>0</HolidayPeriod>
                            <AutoReschedPostHolidayPeriod>H</AutoReschedPostHolidayPeriod>
                            <IntDuringHolidayPeriod>N</IntDuringHolidayPeriod>
                            <IntFreq>
                                <Cal/>
                                <Type/>
                                <StartDt>0</StartDt>
                                <WeekDay>0</WeekDay>
                                <WeekNum/>
                                <HolStat/>
                            </IntFreq>
                        </HolidayPeriodDetails>
                        <IntRestBasis/>
                        <IntRestFreq/>
                        <EqInstallDetails>
                            <EqInstallFlg>Y</EqInstallFlg>
                            <EqInstallType>R</EqInstallType>
                            <EqInstallFormula/>
                        </EqInstallDetails>
                        <RepmtRec>
                            <InstallmentId>INDEM</InstallmentId>
                            <InstallStartDt>2014-02-05T00:00:00.000</InstallStartDt>
                            <InstallFreq>
                                <Cal>00</Cal>
                                <Type>Y</Type>
                                <StartDt>5</StartDt>
                                <WeekDay>0</WeekDay>
                                <WeekNum/>
                                <HolStat>N</HolStat>
                            </InstallFreq>
                            <IntFreq>
                                <Cal/>
                                <Type/>
                                <StartDt>0</StartDt>
                                <WeekDay>0</WeekDay>
                                <WeekNum/>
                                <HolStat/>
                            </IntFreq>
                            <NoOfInstall>0</NoOfInstall>
                        </RepmtRec>
                        <RepmtRec>
                            <InstallmentId>PRDEM</InstallmentId>
                            <InstallStartDt>2014-02-05T00:00:00.000</InstallStartDt>
                            <InstallFreq>
                                <Cal>00</Cal>
                                <Type>M</Type>
                                <StartDt>5</StartDt>
                                <WeekDay>0</WeekDay>
                                <WeekNum/>
                                <HolStat>N</HolStat>
                            </InstallFreq>
                            <IntFreq>
                                <Cal/>
                                <Type/>
                                <StartDt>0</StartDt>
                                <WeekDay>0</WeekDay>
                                <WeekNum/>
                                <HolStat/>
                            </IntFreq>
                            <NoOfInstall>108</NoOfInstall>
                        </RepmtRec>
                    </PmtPlan>
                    <LoanAmt>
                        <amountValue>90000.00</amountValue>
                        <currencyCode>INR</currencyCode>
                    </LoanAmt>
                </LoanGenDetails>
                <ACHDetails>
                    <PaySysId/>
                    <RespAcctId>
                        <AcctId/>
                        <AcctType>
                            <SchmCode/>
                            <SchmType/>
                        </AcctType>
                        <AcctCurr/>
                        <BankInfo>
                            <BankId/>
                            <Name/>
                            <BranchId/>
                            <BranchName/>
                            <PostAddr>
                                <Addr1/>
                                <Addr2/>
                                <Addr3/>
                                <City/>
                                <StateProv/>
                                <PostalCode/>
                                <Country/>
                                <AddrType/>
                            </PostAddr>
                        </BankInfo>
                    </RespAcctId>
                </ACHDetails>
                <MultiSrcInstructionRec>
                    <RecoveryAcctId>
                        <AcctId>1000810010006684</AcctId>
                        <AcctType>
                            <SchmCode/>
                            <SchmType/>
                        </AcctType>
                        <AcctCurr/>
                        <BankInfo>
                            <BankId/>
                            <Name/>
                            <BranchId/>
                            <BranchName/>
                            <PostAddr>
                                <Addr1/>
                                <Addr2/>
                                <Addr3/>
                                <City/>
                                <StateProv/>
                                <PostalCode/>
                                <Country/>
                                <AddrType/>
                            </PostAddr>
                        </BankInfo>
                    </RecoveryAcctId>
                    <InstallType>PRINC</InstallType>
                    <RePmtMethod>T</RePmtMethod>
                    <AmtPercentInd>P</AmtPercentInd>
                    <ValueInAmt>
                        <amountValue>0.00</amountValue>
                        <currencyCode>INR</currencyCode>
                    </ValueInAmt>
                    <ValueInPercent>
                        <value>100.0</value>
                    </ValueInPercent>
                    <AcctId>
                        <AcctId/>
                        <AcctType>
                            <SchmCode/>
                            <SchmType/>
                        </AcctType>
                        <AcctCurr/>
                        <BankInfo>
                            <BankId/>
                            <Name/>
                            <BranchId/>
                            <BranchName/>
                            <PostAddr>
                                <Addr1/>
                                <Addr2/>
                                <Addr3/>
                                <City/>
                                <StateProv/>
                                <PostalCode/>
                                <Country/>
                                <AddrType/>
                            </PostAddr>
                        </BankInfo>
                    </AcctId>
                </MultiSrcInstructionRec>
                <MultiSrcInstructionRec>
                    <RecoveryAcctId>
                        <AcctId>2599109900120004</AcctId>
                        <AcctType>
                            <SchmCode/>
                            <SchmType/>
                        </AcctType>
                        <AcctCurr/>
                        <BankInfo>
                            <BankId/>
                            <Name/>
                            <BranchId/>
                            <BranchName/>
                            <PostAddr>
                                <Addr1/>
                                <Addr2/>
                                <Addr3/>
                                <City/>
                                <StateProv/>
                                <PostalCode/>
                                <Country/>
                                <AddrType/>
                            </PostAddr>
                        </BankInfo>
                    </RecoveryAcctId>
                    <InstallType>ODUES</InstallType>
                    <RePmtMethod>O</RePmtMethod>
                    <AmtPercentInd>P</AmtPercentInd>
                    <ValueInAmt>
                        <amountValue>0.00</amountValue>
                        <currencyCode>INR</currencyCode>
                    </ValueInAmt>
                    <ValueInPercent>
                        <value>100.0</value>
                    </ValueInPercent>
                    <AcctId>
                        <AcctId/>
                        <AcctType>
                            <SchmCode/>
                            <SchmType/>
                        </AcctType>
                        <AcctCurr/>
                        <BankInfo>
                            <BankId/>
                            <Name/>
                            <BranchId/>
                            <BranchName/>
                            <PostAddr>
                                <Addr1/>
                                <Addr2/>
                                <Addr3/>
                                <City/>
                                <StateProv/>
                                <PostalCode/>
                                <Country/>
                                <AddrType/>
                            </PostAddr>
                        </BankInfo>
                    </AcctId>
                </MultiSrcInstructionRec>
                <RelPartyRec>
                    <RelPartyType>M</RelPartyType>
                    <RelPartyTypeDesc>MAIN HOLDER OF ACCOUNT</RelPartyTypeDesc>
                    <RelPartyCode/>
                    <RelPartyCodeDesc/>
                    <CustId>
                        <CustId>8000801010001967</CustId>
                        <PersonName>
                            <LastName/>
                            <FirstName/>
                            <MiddleName/>
                            <Name>ANITA S KAMBALE</Name>
                            <TitlePrefix>MRS.</TitlePrefix>
                        </PersonName>
                    </CustId>
                    <RelPartyContactInfo>
                        <PhoneNum>
                            <TelephoneNum>9901999301</TelephoneNum>
                            <FaxNum/>
                            <TelexNum/>
                        </PhoneNum>
                        <EmailAddr/>
                        <PostAddr>
                            <Addr1>RUKADI</Addr1>
                            <Addr2>KOLHAPUR</Addr2>
                            <Addr3/>
                            <City>KOLHA</City>
                            <StateProv>MH</StateProv>
                            <PostalCode>0</PostalCode>
                            <Country>IN</Country>
                            <AddrType>Mailing</AddrType>
                        </PostAddr>
                    </RelPartyContactInfo>
                    <RecDelFlg>N</RecDelFlg>
                </RelPartyRec>
                <RelPartyRec>
                    <RelPartyType>C</RelPartyType>
                    <RelPartyTypeDesc>CO OBLIGANT</RelPartyTypeDesc>
                    <RelPartyCode>HUS</RelPartyCode>
                    <RelPartyCodeDesc>HUSBAND</RelPartyCodeDesc>
                    <CustId>
                        <CustId>8000801010001896</CustId>
                        <PersonName>
                            <LastName/>
                            <FirstName/>
                            <MiddleName/>
                            <Name>SUBHASH S KAMBALE</Name>
                            <TitlePrefix>MR.</TitlePrefix>
                        </PersonName>
                    </CustId>
                    <RelPartyContactInfo>
                        <PhoneNum>
                            <TelephoneNum>+91(00)9922634039</TelephoneNum>
                            <FaxNum/>
                            <TelexNum/>
                        </PhoneNum>
                        <EmailAddr/>
                        <PostAddr>
                            <Addr1>AT. PO. RUKADI</Addr1>
                            <Addr2>TAL. HATKANAGALE</Addr2>
                            <Addr3>DIST. KOLHAPUR</Addr3>
                            <City>KOLHA</City>
                            <StateProv>MH</StateProv>
                            <PostalCode>413118</PostalCode>
                            <Country>IN</Country>
                            <AddrType>Mailing</AddrType>
                        </PostAddr>
                    </RelPartyContactInfo>
                    <RecDelFlg>N</RecDelFlg>
                </RelPartyRec>
                <EiSchmFlg/>
            </LoanAcctInqRs>
            <LoanAcctInq_CustomData>
                <FICustResp>
                    <InterestLastYear>00.00</InterestLastYear>
                    <LastPaymentAmount>40000.00</LastPaymentAmount>
                    <DateLastPayment>23-01-2013</DateLastPayment>
                    <Status>D </Status>
                </FICustResp>
            </LoanAcctInq_CustomData>
        </LoanAcctInqResponse>
    </Body>
</FIXML>
