<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml ODAcctInq.xsd">
    <Header>
        <ResponseHeader>
            <RequestMessageKey>
                <RequestUUID>Req_1384335223229</RequestUUID>
                <ServiceRequestId>ODAcctInq</ServiceRequestId>
                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                <ChannelId>COR</ChannelId>
            </RequestMessageKey>
            <ResponseMessageInfo>
                <BankId>01</BankId>
                <TimeZone/>
                <MessageDateTime>2013-11-13T09:32:58.965</MessageDateTime>
            </ResponseMessageInfo>
            <UBUSTransaction>
                <Id/>
                <Status/>
            </UBUSTransaction>
            <HostTransaction>
                <Id/>
                <Status>SUCCESS</Status>
            </HostTransaction>
            <HostParentTransaction>
                <Id/>
                <Status/>
            </HostParentTransaction>
            <CustomInfo/>
        </ResponseHeader>
    </Header>
    <Body>
        <ODAcctInqResponse>
            <ODAcctInqRs>
                <ODAcctInq>
                    <AcctId>1000110010005661</AcctId>
                    <AcctType>
                        <SchmCode>SBGEN</SchmCode>
                        <SchmType>ODA</SchmType>
                    </AcctType>
                    <AcctCurr>INR</AcctCurr>
                    <BankInfo>
                        <BankId/>
                        <Name/>
                        <BranchId>0001</BranchId>
                        <BranchName>KCity</BranchName>
                        <PostAddr>
                            <Addr1>Another Street</Addr1>
                            <Addr2>Vishal Corner</Addr2>
                            <Addr3></Addr3>
                            <City>Mumbai</City>
                            <StateProv>Maharastra</StateProv>
                            <PostalCode>460001</PostalCode>
                            <Country>IN</Country>
                            <AddrType/>
                        </PostAddr>
                    </BankInfo>
                </ODAcctInq>
                <AcctOpnDt>1950-01-01T00:00:00.000</AcctOpnDt>
                <ModeOfOper>10</ModeOfOper>
                <BankAcctStatusCode/>
                <CustId>
                    <CustId>8000101010000891</CustId>
                    <PersonName>
                        <LastName/>
                        <FirstName/>
                        <MiddleName/>
                        <Name>M/S.HEAD MASTER DADASAHEB MAGADUM HIGHSCHOOL</Name>
                        <TitlePrefix>MS.</TitlePrefix>
                    </PersonName>
                </CustId>
                <ODAcctGenInfo>
                    <GenLedgerSubHead>
                        <GenLedgerSubHeadCode>23101</GenLedgerSubHeadCode>
                        <CurCode>INR</CurCode>
                    </GenLedgerSubHead>
                    <AcctName>M/s.HEAD MASTER DADASAHEB MAGADUM HIGHSCHOOL</AcctName>
                    <AcctShortName>HEADMASTE</AcctShortName>
                    <AcctStmtMode>P</AcctStmtMode>
                    <AcctStmtFreq>
                        <Cal/>
                        <Type/>
                        <StartDt>0</StartDt>
                        <WeekDay>0</WeekDay>
                        <WeekNum/>
                        <HolStat/>
                    </AcctStmtFreq>
                    <DespatchMode/>
                </ODAcctGenInfo>
                <AcctBalCrDrInd>C</AcctBalCrDrInd>
                <AcctBalAmt>
                    <amountValue>64657209.72</amountValue>
                    <currencyCode>INR</currencyCode>
                </AcctBalAmt>
                <FreezeStatusCode/>
                <FreezeReasonCode/>
                <AccrIntCrDrInd>C</AccrIntCrDrInd>
                <AccrIntRate>
                    <value>5.5</value>
                </AccrIntRate>
                <IntCalcFreq>
                    <Cal/>
                    <Type>H</Type>
                    <StartDt>31</StartDt>
                    <WeekDay>0</WeekDay>
                    <WeekNum/>
                    <HolStat>P</HolStat>
                </IntCalcFreq>
                <IntRateCode>SBGEN</IntRateCode>
                <NetIntDrCrInd>C</NetIntDrCrInd>
                <NetIntRate>
                    <value>5.5</value>
                </NetIntRate>
                <WithHoldingTaxDtls>
                    <TaxCategory>N</TaxCategory>
                    <FloorLimitAmt>
                        <amountValue>0.00</amountValue>
                        <currencyCode>INR</currencyCode>
                    </FloorLimitAmt>
                    <WithHoldingPercent>
                        <value>0.0</value>
                    </WithHoldingPercent>
                </WithHoldingTaxDtls>
                <RelPartyRec>
                    <RelPartyType>M</RelPartyType>
                    <RelPartyTypeDesc>MAIN HOLDER OF ACCOUNT</RelPartyTypeDesc>
                    <RelPartyCode/>
                    <RelPartyCodeDesc/>
                    <CustId>
                        <CustId>8000101010000891</CustId>
                        <PersonName>
                            <LastName/>
                            <FirstName/>
                            <MiddleName/>
                            <Name>M/S.HEAD MASTER DADASAHEB MAGADUM HIGHSCHOOL</Name>
                            <TitlePrefix>MS.</TitlePrefix>
                        </PersonName>
                    </CustId>
                    <RelPartyContactInfo>
                        <PhoneNum>
                            <TelephoneNum/>
                            <FaxNum/>
                            <TelexNum/>
                        </PhoneNum>
                        <EmailAddr/>
                        <PostAddr>
                            <Addr1>7 E VAISHALI PARISAR</Addr1>
                            <Addr2>MAHANEER COLLAGE CHOWK</Addr2>
                            <Addr3/>
                            <City>KOLHA</City>
                            <StateProv>MH</StateProv>
                            <PostalCode>4160003</PostalCode>
                            <Country>IN</Country>
                            <AddrType/>
                        </PostAddr>
                    </RelPartyContactInfo>
                    <RecDelFlg>N</RecDelFlg>
                </RelPartyRec>
                <RelPartyRec>
                    <RelPartyType>C</RelPartyType>
                    <RelPartyTypeDesc>JOINT HOLDER OF ACCOUNT</RelPartyTypeDesc>
                    <RelPartyCode/>
                    <RelPartyCodeDesc/>
                    <CustId>
                        <CustId>8000101010000891</CustId>
                        <PersonName>
                            <LastName/>
                            <FirstName/>
                            <MiddleName/>
                            <Name>M/S.HEAD MASTER DADASAHEB MAGADUM HIGHSCHOOL</Name>
                            <TitlePrefix>MS.</TitlePrefix>
                        </PersonName>
                    </CustId>
                    <RelPartyContactInfo>
                        <PhoneNum>
                            <TelephoneNum/>
                            <FaxNum/>
                            <TelexNum/>
                        </PhoneNum>
                        <EmailAddr/>
                        <PostAddr>
                            <Addr1>7 E VAISHALI PARISAR</Addr1>
                            <Addr2>MAHANEER COLLAGE CHOWK</Addr2>
                            <Addr3/>
                            <City>KOLHA</City>
                            <StateProv>MH</StateProv>
                            <PostalCode>4160003</PostalCode>
                            <Country>IN</Country>
                            <AddrType/>
                        </PostAddr>
                    </RelPartyContactInfo>
                    <RecDelFlg>N</RecDelFlg>
                </RelPartyRec>
                <basel>
                    <security_indicator>
                        <value>0.0</value>
                    </security_indicator>
                    <debt_seniority/>
                    <security_code>
                        <codeDesc/>
                        <code/>
                    </security_code>
                </basel>
            </ODAcctInqRs>
            <ODAcctInq_CustomData/>
        </ODAcctInqResponse>
    </Body>
</FIXML>
