<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml TDAcctInq.xsd">
    <Header>
        <ResponseHeader>
            <RequestMessageKey>
                <RequestUUID>Req_1380435732837</RequestUUID>
                <ServiceRequestId>TDAcctInq</ServiceRequestId>
                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                <ChannelId>COR</ChannelId>
            </RequestMessageKey>
            <ResponseMessageInfo>
                <BankId>01</BankId>
                <TimeZone/>
                <MessageDateTime>2013-09-29T06:20:41.782</MessageDateTime>
            </ResponseMessageInfo>
            <UBUSTransaction>
                <Id/>
                <Status/>
            </UBUSTransaction>
            <HostTransaction>
                <Id/>
                <Status>SUCCESS</Status>
            </HostTransaction>
            <HostParentTransaction>
                <Id/>
                <Status/>
            </HostParentTransaction>
            <CustomInfo/>
        </ResponseHeader>
    </Header>
    <Body>
        <TDAcctInqResponse>
            <TDAcctInqRs>
                <TDAcctId>
                    <AcctId>1000314600000560</AcctId>
                    <AcctType>
                        <SchmCode>RIDPU</SchmCode>
                        <SchmType>TDA</SchmType>
                    </AcctType>
                    <AcctCurr>INR</AcctCurr>
                    <BankInfo>
                        <BankId/>
                        <Name/>
                        <BranchId/>
                        <BranchName/>
                        <PostAddr>
                            <Addr1/>
                            <Addr2/>
                            <Addr3/>
                            <City/>
                            <StateProv/>
                            <PostalCode/>
                            <Country/>
                            <AddrType/>
                        </PostAddr>
                    </BankInfo>
                </TDAcctId>
                <AcctOpnDt>2012-03-19T00:00:00.000</AcctOpnDt>
                <ModeOfOper>1</ModeOfOper>
                <BankAcctStatusCode>A</BankAcctStatusCode>
                <CustId>
                    <CustId>8000301010010789</CustId>
                    <PersonName>
                        <LastName/>
                        <FirstName/>
                        <MiddleName/>
                        <Name>SANGITA B KHARMATE</Name>
                        <TitlePrefix>MRS.</TitlePrefix>
                    </PersonName>
                </CustId>
                <TDAcctGenInfo>
                    <GenLedgerSubHead>
                        <GenLedgerSubHeadCode>23241</GenLedgerSubHeadCode>
                        <CurCode>INR</CurCode>
                    </GenLedgerSubHead>
                    <AcctName>SANGITA BAJRANG KHARMATE</AcctName>
                    <AcctShortName>SANGITAKHA</AcctShortName>
                    <AcctStmtMode>R</AcctStmtMode>
                    <AcctStmtFreq>
                        <Cal/>
                        <Type/>
                        <StartDt>0</StartDt>
                        <WeekDay>0</WeekDay>
                        <WeekNum/>
                        <HolStat/>
                    </AcctStmtFreq>
                    <DespatchMode/>
                </TDAcctGenInfo>
                <AcctBalCrDrInd>C</AcctBalCrDrInd>
                <AcctBalAmt>
                    <amountValue>23532448.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </AcctBalAmt>
                <FreezeStatusCode/>
                <FreezeReasonCode/>
                <AccrIntDrCrInd>C</AccrIntDrCrInd>
                <AccrIntRate>
                    <value>9.25</value>
                </AccrIntRate>
                <NetIntCrDrInd>C</NetIntCrDrInd>
                <NetIntRate>
                    <value>9.25</value>
                </NetIntRate>
                <TotalIntAmt>
                    <amountValue>1055493.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </TotalIntAmt>
                <InitialDeposit>
                    <amountValue>22589461.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </InitialDeposit>
                <CurrDeposit>
                    <amountValue>22589461.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </CurrDeposit>
                <OrigMaturityAmt>
                    <amountValue>23637419.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </OrigMaturityAmt>
                <MaturityAmt>
                    <amountValue>23644954.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </MaturityAmt>
                <DepositTerm>
                    <Days>0</Days>
                    <Months>6</Months>
                </DepositTerm>
                <MaturityDt>2013-03-16T00:00:00.000</MaturityDt>
                <RepayAcctId>
                    <AcctId/>
                    <AcctType>
                        <SchmCode/>
                        <SchmType/>
                    </AcctType>
                    <AcctCurr/>
                    <BankInfo>
                        <BankId/>
                        <Name/>
                        <BranchId/>
                        <BranchName/>
                        <PostAddr>
                            <Addr1/>
                            <Addr2/>
                            <Addr3/>
                            <City/>
                            <StateProv/>
                            <PostalCode/>
                            <Country/>
                            <AddrType/>
                        </PostAddr>
                    </BankInfo>
                </RepayAcctId>
                <RenewalDtls>
                    <AutoCloseOnMaturityFlg/>
                    <AutoRenewalflg>U</AutoRenewalflg>
                    <MaxNumOfRenewalAllwd>0</MaxNumOfRenewalAllwd>
                    <RenewalTerm>
                        <Days>181</Days>
                        <Months>0</Months>
                    </RenewalTerm>
                    <RenewalSchm>
                        <SchmCode>RIDPU</SchmCode>
                        <SchmType>TDA</SchmType>
                    </RenewalSchm>
                    <GenLedgerSubHead>
                        <GenLedgerSubHeadCode>23241</GenLedgerSubHeadCode>
                        <CurCode>INR</CurCode>
                    </GenLedgerSubHead>
                    <IntTblCode>RBGEN</IntTblCode>
                    <RenewalCurCode>INR</RenewalCurCode>
                    <RenewalOption>M</RenewalOption>
                    <RenewalAmt>
                        <amountValue>0.00</amountValue>
                        <currencyCode>INR</currencyCode>
                    </RenewalAmt>
                    <RenewalAddnlAmt>
                        <amountValue>0.00</amountValue>
                        <currencyCode/>
                    </RenewalAddnlAmt>
                    <SrcAcctId>
                        <AcctId/>
                        <AcctType>
                            <SchmCode/>
                            <SchmType/>
                        </AcctType>
                        <AcctCurr/>
                        <BankInfo>
                            <BankId/>
                            <Name/>
                            <BranchId/>
                            <BranchName/>
                            <PostAddr>
                                <Addr1/>
                                <Addr2/>
                                <Addr3/>
                                <City/>
                                <StateProv/>
                                <PostalCode/>
                                <Country/>
                                <AddrType/>
                            </PostAddr>
                        </BankInfo>
                    </SrcAcctId>
                </RenewalDtls>
                <RelPartyRec>
                    <RelPartyType>M</RelPartyType>
                    <RelPartyTypeDesc>MAIN HOLDER OF ACCOUNT</RelPartyTypeDesc>
                    <RelPartyCode/>
                    <RelPartyCodeDesc/>
                    <CustId>
                        <CustId>8000301010010789</CustId>
                        <PersonName>
                            <LastName/>
                            <FirstName/>
                            <MiddleName/>
                            <Name>SANGITA B KHARMATE</Name>
                            <TitlePrefix>MRS.</TitlePrefix>
                        </PersonName>
                    </CustId>
                    <RelPartyContactInfo>
                        <PhoneNum>
                            <TelephoneNum/>
                            <FaxNum/>
                            <TelexNum/>
                        </PhoneNum>
                        <EmailAddr/>
                        <PostAddr>
                            <Addr1>VAJARWADI</Addr1>
                            <Addr2>TAL-TASGAON</Addr2>
                            <Addr3>DIST-SANGLI</Addr3>
                            <City>TASG</City>
                            <StateProv>MH</StateProv>
                            <PostalCode>0</PostalCode>
                            <Country>IN</Country>
                            <AddrType/>
                        </PostAddr>
                    </RelPartyContactInfo>
                    <RecDelFlg>N</RecDelFlg>
                </RelPartyRec>
            </TDAcctInqRs>
            <TDAcctInq_CustomData>
                <FICustResp>
                    <Interest_YTD>1055493</Interest_YTD>
                    <AccountBranch>SANGLI MAIN~F</AccountBranch>
                </FICustResp>
            </TDAcctInq_CustomData>
        </TDAcctInqResponse>
    </Body>
</FIXML>
